<nav class="navbar navbar-expand-md bg-light bg-opacity-50 navbar-light ">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center ms-5 w-100" id="navbarTogglerDemo02">

      <ul class="navbar-nav mb-2 mb-lg-0 d-flex align-items-center justify-content-center ">
       
        <li class="navbar-brand">
          <a class="nav-link fw-bolder text-center" href="/"><span class="fs-2">LAPUTA</span><br><span class="fs-4">Castle In The Sky</span></a>
        </li>
         <li class="nav-item">
          <a class="nav-link fw-bolder fs-3 " href="/games">Games</a>
        </li>
     
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
          <button class="btn btn-outline-success" type="submit fa fa-search">search</button>
        </form> -->

      </ul>
      
      
    </div>
  </div>
</nav>
